

<div class="tableArea">
   <table>
        <tr>
                <th>name</th>
                <th>location</th>
                <th>organizer</th>
                <th>description</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>createdAt</th>
                <th>updatedAt</th>
               
                <th></th>   
        </tr>
        <ng-container *ngFor="let event of events">
        <tr>
                <td>{{event.name}}</td>
                <td>{{event.location}}</td>
                <td>{{event.organizer}}</td>
                <td>{{event.description}}</td>
                <td>{{event.startTime}}</td>
                <td>{{event.endTime}}</td>

                <td>{{event.createdAt}}</td>
                <td>{{event.updatedAt}}</td>
              
        </tr>
        </ng-container>
        <caption *ngIf="events==null">Srry Could not fetch Events from server. Try again later :(</caption>
   </table>          
</div>

