



<div class="wrapper fadeInDown">
    <div id="formContent">
    <br/>
      <!-- Tabs Titles -->
      <H1>Profile Management</H1>
      <br>      
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" id="icon" alt="User Icon" />
        <br/>
      </div>
  
      <!-- Login Form -->
      <p>First name: {{this.firstName}}</p>
      <p>Last name: {{this.lastname}}</p>
      <p>email: {{this.email}}</p>
      <p>contact: {{this.contact}}</p>
      <p>Bloodgroup: {{this.bloodgroup}}</p>
      <p>Points: {{this.points}}</p>
      <p>Location: {{this.location}}</p>
      <button type="submit" (click)="logout()">Log out</button>
    </div>
    
  </div>