<H1>Organization Registration</H1>
<br>
<form [formGroup]="RegForm" (ngSubmit)="onSubmit()">
    Name :  <input type="text" formControlName="Name" required> <br>
    Email :  <input type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" requied> <br>
    Contact No :  <input type="text" formControlName="ContactNo" required> <br> 
    Address :  <input type="textarea" formControlName="address" required> <br> 
    Password :  <input type="password" formControlName="Password1" required> <br>
    Confirm Password :  <input type="password" formControlName="password2" id = "passwordConf" required> <br>
    <input type="submit"> 
    <input type="Reset">
</form>

