<H1>User Registration</H1>
<br>
<form [formGroup]="RegForm" (ngSubmit)="onSubmit()">
    First Name :  <input type="text" formControlName="fName"> <br>
    Last Name :  <input type="text" formControlName="lName"> <br>
    Email :  <input type="email" formControlName="email"> <br>
    Contact No :  <input type="text" formControlName="ContactNo"> <br> 
    Password :  <input type="password" formControlName="Password1"> <br>
    Confirm Password :  <input type="password" formControlName="password2"> <br>
    <input type="submit"> 
    <input type="Reset">
</form>

