<mat-toolbar>
  <span>Ruhiru</span>
</mat-toolbar>
<mat-toolbar-row>
  <a routerLink="/login" routerLinkActive="active"><span><button mat-button color="primary">Login</button></span></a>
  <a routerLink="/register" routerLinkActive="active"><span><button mat-button color="primary">Sign-up user</button></span></a>
  <a routerLink="/registerOrg" routerLinkActive="active"><span><button mat-button color="primary">Sign-up organization</button></span></a>
  <a routerLink="/event" routerLinkActive="active"><span><button mat-button color="primary">event</button></span></a>
  <a routerLink="/createevent" routerLinkActive="active"><span><button mat-button color="primary">Create Event</button></span></a>
  <a routerLink="/profile" routerLinkActive="active"><span><button mat-button color="primary">Profile</button></span></a>
  
</mat-toolbar-row>
<router-outlet></router-outlet>