
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ruhiru</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav " >
      
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Sign-up user</a>
      <a class="nav-item nav-link" routerLink="/registerOrg" routerLinkActive="active">Sign-up organization</a>
      <a class="nav-item nav-link" routerLink="/event" routerLinkActive="active">Event</a>
      <a class="nav-item nav-link" routerLink="/createevent" routerLinkActive="active">Create Event</a>
      <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="nav-item nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>